* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
}

.head-container,
.todo-container {
    margin-top: 5%;
    padding: .5rem;
}

.head-container form {
    display: flex;
    gap: .75rem;
    align-items: center;
    font-size: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
}

.head-input,
textarea {
    width: 30vw;
    height: auto;
    padding: .5rem;
    border: 1px solid grey;
    border-radius: .5rem;
    margin-top: .75rem;
}

.add-btn {
    cursor: pointer;
    background-color: violet;
    color: #fff;
    padding: .5rem 1.25rem;
    border-radius: .5rem;
    border: 1px solid grey;
    font-size: 1rem;
}

.add-btn:hover {
    color: black;
}

/* todo-container */
.todo-container {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* todo start here */
.todo {
    width: 100%;
    border: 1px solid grey;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    padding: .5rem;
    gap: .5rem;
    margin-bottom: .5rem;
}

.todo-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: .5rem;
}

.todo-content input {
    width: 50%;
}

.todo-content textarea {
    width: 50%;
}

.todo-input {
    font-size: 22px;
    padding: .5rem;
    /* border: none; */
    border-radius: 5px;
    background-color: transparent;
}

.todo-input-edit {
    font-size: 22px;
    padding: .5rem;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 35%;
}

.buttons i {
    cursor: pointer;
    color: #000;
    font-size: 22px;
}

.fa-pen-to-square:hover {
    color: orange;
}

.fa-trash:hover {
    color: red;
}

.fa-upload:hover {
    color: green;
}